@media screen and ( max-width: 1050px )
  .footer 
    & .footer-wrap 
      flex-direction: column 
      & .block 
        margin: auto
      & .content 
        margin-top: 50px 
        text-align: center
@media screen and ( max-width: 1000px )
  .header
    & .agency 
      flex-direction: column 
      & .block 
        margin: auto
        width: 100%
      & .content 
        margin-top: 50px 
@media screen and ( max-width: 950px )
  .services 
    & .content-wrap 
      flex-direction: column 
      & .block 
        margin: auto
      & .left
        flex-direction: column 
        text-align: center
        & .box 
          margin: 0 auto 50px  
  .portfolio
    & .title 
      & p 
        width: 100%
    & .content-wrap 
      flex-direction: column 
      & .block 
        margin: auto
      & .navbar 
        text-align: center
        width: 100%
      & .portfolio-item
        width: 100%
        & .box 
          width: 100%
  .about-team
    & .title 
      & p 
        width: 100%
    & .about-team-portfolio 
      & .block 
        width: calc(50% - 30px)
    & .about-team-section 
      flex-direction: column 
      & .btn 
        margin-top: 30px 
  .about-section2
    & .about-section2-wrap  
      flex-direction: column 
      & .block 
        margin: auto
        width: 100%
      & .about-section2-clients 
        margin-top: 50px 
        & .box 
          width: calc(50% - 30px)
@media screen and ( max-width: 800px )
  .header, .header-about, .header-services 
    & .nav 
      & .menu 
        & .burger 
          display: flex 
          align-items: center
          justify-content: flex-start 
          width: 30px 
          height: 15px
          position: relative 
          cursor: pointer
          z-index: 9999
          &.active span 
            width: 30px 
          &.active::after 
            width: 30px 
          & span 
            background: #60606e
            height: 1px 
            width: 15px 
            transition: .3s linear 
          &::before
            content: ''
            position: absolute
            width: 30px 
            height: 1px 
            background: #60606e
            top: 0
            transition: .3s linear 
          &::after
            content: ''
            position: absolute
            width: 20px 
            height: 1px 
            background: #60606e
            bottom: 0
            transition: .3s linear  
        & .main-menu 
          position: absolute
          right: 0
          top: 100px 
          width: 300px 
          background: #60606e
          transition: .3s linear
          opacity: 0
          visibility: hidden
          z-index: 9998
          & .first-level
            display: block 
            & li 
              margin-left: 0
              & a
                display: block 
                color: #ffffff
                line-height: 40px 
                height: 40px 
                text-transform: uppercase
                font-size: 12px 
                +mont_bold 
                text-align: center
                &:focus
                  background: #404051
                &:hover::before 
                  display: none 
              & .second-level 
                background: #50505F
                display: none
                position: static
                width: 300px 
                & li 
                  &:nth-child(even) a 
                    background: #50505F
          &.show 
            opacity: 1
            visibility: visible 
  .services
    & .title 
      & p 
        width: 100%
    & .content-wrap 
      & .block 
        margin: auto
        width: 100%
      & .left
        & .box 
          margin: 0 auto 50px  
          width: 100%
  .contact 
    & .contact-wrap  
      flex-direction: column 
      & .block 
        margin: auto
        width: 100%
      & .left 
        text-align: center
      & .form 
        margin-top: 50px 
  .about-section
    margin-top: 100px 
    & .about-section-wrap 
      flex-direction: column 
      & .block 
        margin: 50px auto 0 
        width: 100%
  .about-benefits
    & .title 
      & p 
        width: 100%
    & .about-benefits-wrap 
      flex-direction: column 
      & .block 
        margin: 0 auto 30px 
        width: 100%
        &:last-of-type
          margin-bottom: 0
        & .title-wrap 
          justify-content: center
@media screen and ( max-width: 750px )
  .about-team
    & .about-team-portfolio 
      justify-content: center
      & .block 
        width: 100%
  .about-section2
    & .about-section2-wrap  
      & .about-section2-clients 
        flex-direction: column 
        & .box 
          margin: 0 auto 30px 
          &:last-of-type
            margin-bottom: 0
@media screen and ( max-width: 620px )
  .footer 
    & .footer-wrap 
      & .links 
        & a 
          display: block 
          margin-left: 0
          text-align: center
          line-height: 30px 
      & .content 
        margin-top: 50px 
        text-align: center
@media screen and ( max-width: 400px )
  .header 
    & .header-slider  
      & .slick-list 
        & .slick-track
          & .header-slider-block 
            & .title 
              & h1 
                font-size: 35px  
                padding: 10px 20px  
  .about-section2
    & .about-section2-wrap  
      & .about-section2-clients 
        & .box 
          width: 100%
          &:last-of-type
            margin-bottom: 0
          
  